In [2]:
import pandas as pd
import numpy as np
from scipy import stats
import seaborn as sns
df = pd.read_csv("/Users/syc/Downloads/experiment_dataset.csv")

Question 1 & 2 and related code portions

In [3]:
#df.drop('Unnamed: 0', axis=1, inplace = True)
#df.set_index('Age', inplace=True)
df

     Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0             0   62  Location2  Device2    Control   13.928669  0.084776
1             1   18  Location1  Device1  Variant B   11.310518  0.096859
2             2   21  Location2  Device1  Variant B   24.842100  0.097630
3             3   21  Location1  Device3  Variant B   20.061300  0.109783
4             4   57  Location1  Device2  Variant B   34.495503  0.068579
..          ...  ...        ...      ...        ...         ...       ...
995         995   39  Location2  Device2  Variant B   17.252030  0.092211
996         996   38  Location3  Device2    Control   30.075898  0.078151
997         997   60  Location2  Device3    Control   31.929223  0.125213
998         998   35  Location2  Device2  Variant B   14.680299  0.095423
999         999   55  Location1  Device1  Variant B   25.803169  0.166688

[1000 rows x 7 columns]

In [4]:
df.groupby('Location')[['CTR','Time Spent']].mean()

                CTR  Time Spent
Location
Location1  0.110217   22.707286
Location2  0.108517   22.648998
Location3  0.108708   22.787691

In [5]:
df.groupby('Device')[['CTR','Time Spent']].mean()

              CTR  Time Spent
Device
Device1  0.109634   22.635032
Device2  0.109868   22.890021
Device3  0.107993   22.612276

In [6]:
df.groupby('Variant')[['CTR','Time Spent']].mean()

                CTR  Time Spent
Variant
Control    0.098554   20.070781
Variant A  0.120269   24.805547
Variant B  0.108933   23.343783

In [7]:

#Analyze Correlation between Age and Time Spent
pearson_corr, p_val = stats.pearsonr(df['Age'], df['Time Spent'])
print(f"Pearson's correlation: {pearson_corr}")

Pearson's correlation: 0.001970058767060835

In [8]:
#Analyze Correlation between Age and CTR
pearson_corr, p_val = stats.pearsonr(df['Age'], df['CTR'])
print(f"Pearson's correlation: {pearson_corr}")

Pearson's correlation: -0.0010802583340339487

In [9]:
# checking time spent across different locations
loc_1 = df[df['Location'] == 'Location1']['Time Spent']
loc_2 = df[df['Location'] == 'Location2']['Time Spent']
loc_3 = df[df['Location'] == 'Location3']['Time Spent']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.053578839670573676, pvalue=0.9478339402848069)

In [10]:
loc_1 = df[df['Location'] == 'Location1']['CTR']
loc_2 = df[df['Location'] == 'Location2']['CTR']
loc_3 = df[df['Location'] == 'Location3']['CTR']

p_val = stats.f_oneway(loc_1, loc_2, loc_3)
print(p_val)

F_onewayResult(statistic=0.5792245145655729, pvalue=0.5605211716238133)

For all three locations, there is no statistically significance between CTR and time Spent.

In [11]:
# checking spent for Device Type
Var_1 = df[df['Device'] == 'Device1']['Time Spent']
Var_2 = df[df['Device'] == 'Device2']['Time Spent']
Var_3 = df[df['Device'] == 'Device3']['Time Spent']

p_val = stats.f_oneway(Var_1, Var_2, Var_3)
print(p_val)

F_onewayResult(statistic=0.26645371811833884, pvalue=0.7661459958744103)

In [12]:
# checking CTR for Device Type
Var_1 = df[df['Device'] == 'Device1']['CTR']
Var_2 = df[df['Device'] == 'Device2']['CTR']
Var_3 = df[df['Device'] == 'Device3']['CTR']

p_val = stats.f_oneway(Var_1, Var_2, Var_3)
print(p_val)

F_onewayResult(statistic=0.7105872492654717, pvalue=0.4916042399968955)

For all three type of devices, similar behiavor exists. Base on the above analysis, we are safe to proceed with the experiments.

Analyze Results Section:

In [13]:
df.head()

   Unnamed: 0  Age   Location   Device    Variant  Time Spent       CTR
0           0   62  Location2  Device2    Control   13.928669  0.084776
1           1   18  Location1  Device1  Variant B   11.310518  0.096859
2           2   21  Location2  Device1  Variant B   24.842100  0.097630
3           3   21  Location1  Device3  Variant B   20.061300  0.109783
4           4   57  Location1  Device2  Variant B   34.495503  0.068579

In [14]:
# checking Time Spent
var1 = df[df['Variant']=='Variant A']['Time Spent']
var2 = df[df['Variant']=='Variant B']['Time Spent']
control = df[df['Variant']=='Control']['Time Spent']

p_val = stats.f_oneway(var1, var2, control)
print(p_val)

F_onewayResult(statistic=75.60840947416146, pvalue=2.676826588910432e-31)

In [15]:
# checking CTR
var1 = df[df['Variant']=='Variant A']['CTR']
var2 = df[df['Variant']=='Variant B']['CTR']
control = df[df['Variant']=='Control']['CTR']

p_val = stats.f_oneway(var1, var2, control)
print(p_val)

F_onewayResult(statistic=93.58891593622702, pvalue=5.638952705781554e-38)

In [16]:
# Compare Time Spent between each variant using T test

var1 = df[df['Variant']=='Variant A']['Time Spent']
var2 = df[df['Variant']=='Variant B']['Time Spent']
control = df[df['Variant']=='Control']['Time Spent']

p_val = stats.ttest_ind(var1, control)
p_val_2 = stats.ttest_ind(var2, control)
p_val_3 = stats.ttest_ind(var1, var2)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=12.142363487472364, pvalue=8.488565644996449e-31)
Ttest_indResult(statistic=8.174237395991806, pvalue=1.496358076285182e-15)
Ttest_indResult(statistic=3.6788175394209075, pvalue=0.0002534771014765265)

In [17]:
# Compare CTR between each variant using T test

var1 = df[df['Variant']=='Variant A']['CTR']
var2 = df[df['Variant']=='Variant B']['CTR']
control = df[df['Variant']=='Control']['CTR']

p_val = stats.ttest_ind(var1, control)
p_val_2 = stats.ttest_ind(var2, control)
p_val_3 = stats.ttest_ind(var1, var2)
print(p_val)
print(p_val_2)
print(p_val_3)

Ttest_indResult(statistic=13.829424737499187, pvalue=1.9602781373243157e-38)
Ttest_indResult(statistic=6.4718143491783255, pvalue=1.8743198199982106e-10)
Ttest_indResult(statistic=7.08499696316128, pvalue=3.587180487986577e-12)

In [19]:
df.groupby('Variant')[['Time Spent']].mean()

           Time Spent
Variant
Control     20.070781
Variant A   24.805547
Variant B   23.343783

In [20]:
df.groupby('Variant')[['CTR']].mean()

                CTR
Variant
Control    0.098554
Variant A  0.120269
Variant B  0.108933

Question 3

First of all, I conducted comparisons tests to understand the difference between each user, to make sure that they are similar so I can move on to the actual experiment. I have calculated the p values for location and device type, the results are all greater than 0.05, which means that location and device type are not statistically significant, it is safe and reliable to move on the experiment. 

I have calculated the p values for each variant, as well as the control group. According to the ANOVA test, both CTR and time spent are all statistically significant, which means that they do get influenced by the different variant groups. More specifically, I also conducted a T test for each variant, the result is that Variant A has a larger t value than Variant B, which means that Variant A perform better than Variant B. To further prove that result, I calculated the mean value for CTR and time spent. Result shows that Variant A provides a higher mean value. So I would recommend engineering team to deploy variant A.

Question 4

The goals and the objectives of this experiment is to increase the click through rate and time spent throughout the deployment of this new feature. For this experiment, we will be deploying Variant A and we will be introducing this new change slowly in order to mitigate potential risks that affect customer experience. Which means that this new change will not be released all at once, we will be deploying this change in different stages. I think it is easier to sort users into different groups according to the device type they use. Meaning that users using device 1 will receive the update first, followed by users that use device 2, and then users using device 3. With this rollout plan, we are not introducing the change all at once, so we can receive feedback from the first portion of the users. We can then use this feedback to make changes accordingly. In general, this kind of roll out plan allows the engineering team to continuously collect feedback, conduct periodic tests and monitor results.